<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud_Operation</title>
    
</head>
<body>
    <h1>Crud</h1>
    <a href="/login">
        <button class="my-button">Add User</button>
        </a>
    <a href="/getdetails">  
        <button class="my-button">All User</button>
    </a>

</body>
</html>